#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca > #backgroundBox {
  position: absolute;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 740.0px;
  width: 100%;
  height: 100%;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_1 {
  box-shadow: none;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_2 {
  box-shadow: none;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_3 {
  position: absolute;
  width: 300.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_3 {
  box-shadow: none;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_3 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_4 {
  box-shadow: none;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle {
  position: absolute;
  width: 299.99999999999994px;
  min-height: 34.85714285714272px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle {
  box-shadow: none;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_1 {
  position: absolute;
  width: 342.00000000000006px;
  min-height: 232.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_1 {
  box-shadow: none;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_2 {
  position: absolute;
  width: 186.0000000000001px;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_2 {
  box-shadow: none;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_5 {
  position: absolute;
  width: 326.9999999999999px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_5 {
  box-shadow: none;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_5 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_5 span {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d444ec1b-1ade-48c4-a3b2-1ab30a07c3ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
